pip==21.0.1
zlib==1.2.11
wheel==0.36.2
brotli==1.0.9
openssl==1.1.1l
cryptography==3.4.7
py==1.10.0
lxml==4.6.3
tornado==6.1
keyring==22.3.0
pkginfo==1.7.0
setuptools==52.0.0
cython==0.29.23
future==0.18.2
docutils==0.17
streamlit==1.0.0
nltk==3.6.1